<h2><%= @game.opponent %></h2>
<ul>
  <li><%= @game.date.to_s(:long) %> at <%= @game.time.strftime("%I:%M %p") %></li>
  <li><%= @game.location %></li>
  <li>
    <% if @game.location == "Husky Stadium" %>
      <%= @game.attending %>, <%= @game.tailgate %>
    <% else %>
      <%= @game.tv %>
    <% end %>
  </li>
</ul>


<%= link_to t("game.edit"), edit_game_path(@game) %>
<%= link_to t("game.delete"), game_path(@game), method: :delete, confirm: t("game.delete_confirm") %><br>
<%= link_to t("game.view"), games_path %>
