<!DOCTYPE html>
<html>
<head>
  <title>HuskyTracker</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="nav">
    Language:
    <%= link_to_unless_current "English", locale: "en" %> |
    <%= link_to_unless_current "Italian", locale: "it" %> |
    <%= link_to_unless_current "Spanish", locale: "es" %> |
    <%= link_to_unless_current "Finnish", locale: "fi" %>
  </div>

  <% flash.each do |key, value| %>
    <div class='flash' id='<%= key %>'>
      <%= value %>
    </div>
  <% end %>
<%= yield %>

</body>
</html>
